{
    "token": "YOUR_API_TOKEN",
    "account_name": "YOUR_ACCOUNT_NAME",
    "server_subdomain": "YOUR_SERVER_SUBDOMAIN",
    "start_date": "2019-01-01T00:00:00Z",
    "user_agent": "tap-saasoptics <api_user_email@your_company.com>"
}
